$cPrimary: #009CD6;
$cSecondary: #003249;
$cThird: #004B6C;

$cBackgroun01: #1A2226;
$cBackgroun02: #474E51;
$cBackgroun03: #121416;

$cGray60: #757A7C;
$cGray50: #A3A6A8;
$cGray40: #D1D2D3;
$cGray30: #E8E8E9;

$cWhite: #F5F5F6;

/*** Color States ***/
$cActive: #E8E8E9;
$cDeactive: #30383B;
$cLightMode: #003249;
$cDarkMode: #001524;